{% extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
<div style="display:flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">
{{form_start(f)}}
{{form_end(f)}}
</div></div>
{% endblock %}